// Page transitions
.conditional-field-enter {
	opacity: 0;
	visibility: none;
}

.conditional-field-enter.conditional-field-enter-active {
	opacity: 1;
	transition: opacity 400ms ease-out;
}

.conditional-field-leave {
	opacity: 1;
}

.conditional-field-leave.conditional-field-leave-active {
	opacity: 0;
	transition: opacity 100ms ease-out;
}