.FAB {
	position: fixed;
	top: 4.4em;
	right: .5em;
	z-index: 2;
	// display: none;
	.fab-open {
		display: none;
		// &:hover {
		// 	@include image-icon('../assets/ic_fab_open.png', '../assets/ic_fab_open@2x.png', 77px, 77px);
		// }
	}

	.fab-help-control {
		display: none;
	}

	.fab-popover {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		background: $blue-2;
		width: 215px;
		color: $white;

		.fab-popover-top {
			h4 {
				font-weight: normal;
				font-size: 1.25em;
			}
		}

		.fab-popover-options {
			margin: 0;
			padding: 0 1.5625em;
			list-style: none;
			li {
				display: block;
				border-bottom: 1px solid $blue-3;
				&:last-child {
					border-bottom: none;
				}
				a {
					display: block;
					color: $white;
					padding: 1em 0;
					padding-left: 52px;
					background-position: 12px center;
					background-repeat: no-repeat;

					&.live-chat {
						@include image-2x('../assets/ic_livechat.png', '../assets/ic_livechat@2x.png', 24px, 26px);
					}
					&.local-help {
						@include image-2x('../assets/ic_findlocal.png', '../assets/ic_findlocal@2x.png', 18px, 29px);
					}
					&.faqs {
						@include image-2x('../assets/ic_faq.png', '../assets/ic_faq@2x.png', 22px, 21px);
					}
					&.call {
						@include image-2x('../assets/ic_m_call.png', '../assets/ic_m_call@2x.png', 11px, 15px);
					}

					@media (max-width: $screen-xs-max) {
						&.live-chat, &.local-help, &.faqs, &.call {
							background-image: none;
						}
					}

				}
			}
		}

		&:after {
			bottom: 100%;
			left: 40%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #ffffff;
			border-width: 12px;
			margin-left: -12px;
		}
	}

	&.open {
		.fab-open {
			@include image-icon('../assets/ic_fab_open.png', '../assets/ic_fab_open@2x.png', 77px, 77px);
		}
		.fab-popover {
			display: block;
		}
	}
}

@media (min-width: $screen-sm) {
	.FAB {
		display: block;
		bottom: .4em;
		right: .8em;
		top: auto;
		left: auto;
		.fab-open {
			display: block;
			background: transparent;
			border: none;
			@include image-icon('../assets/ic_fab.png', '../assets/ic_fab@2x.png', 77px, 77px);
		}
		.fab-popover {
			position: absolute;
			top: auto;
			left: auto;
			bottom: 95px;
			right: 1em;
			width: 246px;

			&:after {
				display: none;
			}
		}
	}
}

.main-header {
	.FAB {
		display: inline-block;
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		z-index: 2;

		.fab-open {
			display: none;
		}

		.fab-help-control {
			display: inline-block;
			position: relative;
		}

		.fab-popover {
			position: absolute;
			top: 100%;
			left: auto;
			right: 0;
			bottom: auto;
			width: 135px;
			text-align: left;
			font-size: 0.875em;

			&:after {
				display: none;
			}

			.fab-popover-top {
				text-align: center;
				padding: 1em 1.4em 0;
			}

			.fab-popover-options {
				padding: 0 1em;
				li {
					border-bottom: none;
					border-top: 1px solid $blue-3;
					&:first-child {
						border-top: none;
					}
					a {
						padding: 1.25em 0.25em;
						/*background: transparent;*/
					}
				}
			}
		}

		&.open {
			.fab-popover {

			}
			.fab-help-control {
				background: $blue-2;
			}
		}
	}

	&.has-save-and-exit {
		.FAB {
			.fab-popover {				
				
			}
		}
	}

	@media (min-width: $screen-sm) {
		.FAB {
			.fab-popover {
				position: absolute;
				top: calc(100% + 1em);
				width: 212px;

				.fab-popover-options {
					padding: 0 .5em;
					li {
						&:first-child {
							border-top: 1px solid $blue-3;
						}
						a {
							padding-left: 52px;
						}
					}
				}
			}
			&.open {
				&:before {
					display: block;
					content: '';
					background: $blue-2;
					position: absolute;
					left: 0;
					top: -1.83285714em;
					right: 0;
					bottom: -1.83285714em;
				}
			}
		}
		&.has-save-and-exit {
			.FAB {
				margin-right: 1em;
			}
		}
	}
}
