.ic-warning {
	@include image-icon('../assets/ic_warning.png', '../assets/ic_warning@2x.png', 54px, 48px);
}
.ic-warning-block {
  @include image-icon('../assets/ic_warning.png', '../assets/ic_warning@2x.png', 54px, 48px);
  display: block;
  width: 54px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.nav-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center left;
}
.icon-start {
  @include img-retina("../assets/ic_start.png", "../assets/ic_start@2x.png", 15px, 15px);
  margin-left: -2px;
}
.icon-summary {
  @include img-retina("../assets/ic_summary.png", "../assets/ic_summary@2x.png", 15px, 15px);
  margin-left: -2px;
}
.icon-household {  
  width: 18px;
  margin-left: -2px;
  margin-right: 12px;
}
.icon-personal-data {
  @include img-retina("../assets/ic_personal.png", "../assets/ic_personal@2x.png", 15px, 15px);
}
.icon-income {  
  width: 18px;
  margin-left: -2px;
  margin-right: 12px;
}
.icon-eligibility {
  @include img-retina("../assets/ic_eligibility@2x.png", "../assets/ic_eligibility@2x.png", 15px, 15px);
  background-size: 15px;
}
.icon-enrollment {
  @include img-retina("../assets/ic_enroll.png", "../assets/ic_enroll@2x.png", 14px, 15px);
  width: 14px;
}
.icon-complete {
  width: 11px;
  margin-right: 0;
  float: right;
  @include img-retina("../assets/ic_select_active.png", "../assets/ic_select_active@2x.png", 11px, 11px);

}
.icon-drag-drop {  
  height: 36px;
  width: 52px;
  background-repeat: no-repeat;
    &.small {
        height: 27px;
        width: 39px;      
        background-size: 32px 24px;
        display: inline-block;
    }
    &.large {
        height: 54px;
        width: 78px;      
        background-size: 78px 54px;
        display: block;
    }
}
.icon-file {
    display: inline-block;
    height: 40px;
    width: 30px;
  @include img-retina("../assets/ic_docicon.png", "../assets/ic_docicon@2x.png", 30px, 40px);
  background-size: 30px 40px;
  background-repeat: no-repeat;

    &.mobile {
      height: 33px;
      width: 24px;
    @include img-retina("../assets/ic_docicon_mobile.png", "../assets/ic_docicon_mobile@2x.png", 24px, 33px);
    background-size: 24px 33px;
    background-repeat: no-repeat;
    }
}
.icon-alldone {
    display: block;
    width: 133px;
    height: 129px;  
  background-size: 133px 129px;
  background-repeat: no-repeat;
}
.icon-sub-complete {
  width: 6px;
  margin-right: 18px;
  float: right;
  @include img-retina("../assets/ic_sub_nav_check.png", "../assets/ic_sub_nav_check@2x.png", 6px, 5px);
}
  .icon-subnav-progress {
    width: 7px;
    height: 31px;
    margin-right: 0;
    display: inline-block;
    vertical-align: top;
    @include img-retina("../assets/ic_sub_nav_line_green1.png", "../assets/ic_sub_nav_line_green1@2x.png", 7px, 31px);
    background-position-y: 6px;
    background-repeat: no-repeat;

    &.last {
      @include img-retina("../assets/ic_sub_nav_line_green1.png", "../assets/ic_sub_nav_line_green1@2x.png", 7px, 31px);
      height: 20px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);

    }
    &.active {
      @include img-retina("../assets/ic_sub_nav_line_green2.png", "../assets/ic_sub_nav_line_green2@2x.png", 7px, 31px);
    }

}

.icon-income-intro {
  width: 370px;
  height: 174px;  
}
.icon-income-intro-mobile {
  width: 232px;
  height: 109px;  
}
.icon-tax-forms {
  width: 25px;
  height: 33px;  
}

.icon-pay-stubs {
  width: 42px;
  height: 32px;  
}


.icon-desktop-illustration {
  @include image-icon('../assets/ic_starting_questions_mobile.png', '../assets/ic_starting_questions_mobile@2x.png', 374px, 321px);
}

.ic_starting_questions_mobile {
  @include image-icon('../assets/ic_starting_questions_mobile.png', '../assets/ic_starting_questions_mobile@2x.png', 173px, 173px);
}

.ic_here4you {  
  @media (min-width: $screen-sm) {    
  }
}

.ic_badge {  
  @media (min-width: $screen-sm) {    
  }
}

.ic_friendly {
  @include image-icon('../assets/ic_friendly.png', '../assets/ic_friendly@2x.png', 73px, 98px);
}


.ic_vote_illustration_desktop {  
}

.ic_vote_illustration_mobile {  
}
// .ic_suitcase {
//   @include image-icon('../assets/ic_suitcase.png', '../assets/ic_suitcase@2x.png', 49px, 46px);
// }

.ic_completed_check {
  @include image-icon('../assets/ic_completed_check.png', '../assets/ic_completed_check@2x.png', 24px, 24px);
}

.ic_show {  
  height: 17px;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}
.ic_show_hide {  
  background-position: 0px 0px;
}

.icon-calendar {
  @include image-icon('../assets/ic_calendar_mobile.png', '../assets/ic_calendar_mobile@2x.png', 46px, 53px);
  .month, .day {
    display: block;
    text-align: center;
    font-weight: 900;
  }
  .month {
    font-size: 0.6em;
    text-transform: uppercase;
    margin-top: .85em;
  }
  .day {
    font-size: 1.2em;
  }
}

@media (min-width: $screen-sm) {
  .icon-calendar {
    @include image-icon('../assets/ic_calendar.png', '../assets/ic_calendar@2x.png', 65px, 73px);
     .month, .day {
      display: block;
      text-align: center;
      font-weight: 900;
    }
    .month {
      font-size: 0.8em;
      text-transform: uppercase;
      margin-top: .8em;
    }
    .day {
      font-size: 1.875em;
    }
  }
}

.ic_check {
  @include image-icon('../assets/ic_check.png', '../assets/ic_check@2x.png', 15px, 11px);
}

.ic_check_mobile {
  @include image-icon('../assets/ic_check_mobile.png', '../assets/ic_check_mobile@2x.png', 9px, 7px);
}

.ic_caret_down {
  @include image-icon('../assets/ic_caret_down.png', '../assets/ic_caret_down@2x.png', 13px, 9px);
}

.ic_caret_up {
  @include image-icon('../assets/ic_caret_up.png', '../assets/ic_caret_up@2x.png', 13px, 8px);
}

.ic_error {
  @include image-icon('../assets/ic_error.png', '../assets/ic_error@2x.png', 15px, 15px);
}

.ic_xray_crutch_desktop {
  @include image-icon('../assets/ic_xray_crutch_desktop.png', '../assets/ic_xray_crutch_desktop@2x.png', 287px, 247px);
}

.ic_xray_crutch_mobile {
  @include image-icon('../assets/ic_xray_crutch_mobile.png', '../assets/ic_xray_crutch_mobile@2x.png', 185px, 159px);
}

.ic_escape {
  @include image-icon('../assets/ic_escape.png', '../assets/ic_escape@2x.png', 16px, 8px);
}

.ic_add_person {
  @include image-icon('../assets/ic_add_person.png', '../assets/ic_add_person@2x.png', 23px, 24px);
}

.ic_x_white {
  @include image-icon('../assets/ic_x_white.png', '../assets/ic_x_white@2x.png', 16px, 16px);
}

.ic_papersmagglass {  
}

.ic_renewal_dt {
  @include image-icon('../assets/ic_renewal_dt.png', '../assets/ic_renewal_dt@2x.png', 226px, 235px);
}

.ic_renewal_mob {
  @include image-icon('../assets/ic_renewal_mob.png', '../assets/ic_renewal_mob@2x.png', 134px, 139px);
}

.ic_number1 {  
 }
.ic_number2 {  
}
.ic_number3 {  
}
.ic_number4 {  
}
.ic_number5 {  
}

 .ic_primary {
   @include image-icon('../assets/ic_primary.png', '../assets/ic_primary@2x.png', 12px, 12px);
 }

 .ic_check_selected_card_dt {
   @include image-icon('../assets/ic_check_selected_card_dt.png', '../assets/ic_check_selected_card_dt@2x.png', 14px, 10px);
 }


.ic_important_dates {
  @include image-icon('../assets/ic_important_dates.png', '../assets/ic_important_dates@2x.png', 38px, 36px);
}
.ic_userhome {  
}
.ic_userhome_renewal {
  @include image-icon('../assets/ic_renew_dt.png', '../assets/ic_renew_dt@2x.png', 45px, 45px);
}

.ic_view_doc {  
}

.ic_download {
  @include image-icon('../assets/ic_download.png', '../assets/ic_download@2x.png', 12px, 12px);
}
.eg_option-forall {  
}
.eg_option-custom {  
}
.eg_option-individual {  
}
.eg_option-ecco {  
}

.logo_CalFresh_Eng {
  background: transparent url('../assets/logo_CalFresh_Eng.svg') no-repeat scroll center center;
  background-size: contain;
}
.logo_CalFresh_Span {
  background: transparent url('../assets/logo_CalFresh_Span.svg') no-repeat scroll center center;
  background-size: contain;
}
.logo_CDSS {
  background: transparent url('../assets/logo_CDSS.svg') no-repeat scroll center center;
  background-size: contain;
}
.logo_medical {
  background: transparent url('../assets/logo_medical.svg') no-repeat scroll center center;
  background-size: contain;
}
.logo_archive {
  @include image-icon('../assets/logo_archive.png','../assets/logo_archive.png', 150px, 89px);
  height: 76px;
  margin-top: -5px;
}