/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
	overflow: hidden;
}

.calheers-modal {
	position: absolute;
	margin: 0 auto;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	right: 0;
	width: 620px;
	outline: none;
	-webkit-overflow-scrolling: touch;
	background: $white;
	border-radius: 3px;
	z-index: 1000;
	max-height: 90vh;
	overflow: auto;

	.btn {
		// padding-top: .3em;
		// padding-bottom: .3em;
		&.btn-pill {
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}

	.modal-title, .modal-header {
		position: relative;
		background: $off-white;
		padding: .5em;
		text-align: center;
		font-size: 1.375em;
		color: $dark-blue;

		.btn {
			border: none;
			padding: 0;
			background-color: transparent;
			&.btn-close {
				position: absolute;
				top: 1em;
				right: 1em;
				overflow: hidden;
				text-indent: -9999px;
				padding: 0 !important;
				@include image-icon('../assets/ic_exit_darkblue.png', '../assets/ic_exit_darkblue@2x.png', 14px, 14px);
			}
			&.btn-back {
				position: absolute;
				top: 1em;
				left: 1em;
				overflow: hidden;
				text-indent: -9999px;
				padding: 0 !important;
				@include image-icon('../assets/ic_back_arrow.png', '../assets/ic_back_arrow@2x.png', 16px, 16px);
			}
		}
	}

	.modal-body {
		padding: 2em;
		margin: 1em 0;
		color: $dark-blue;

		@media (max-width: $screen-xs-max) {
			padding-top: 0;
		}
	}

	.modal-buttons {
		margin-top: 1.25em;
		text-align: center;
		.btn {
			margin: 0 .5em .5em .5em;
			// padding: .3em 2.5em;
			@media (max-width: $screen-xs-max) {
				width: 100%;
				margin: 0 0 1em 0;
			}
		}
	}

	&.cancel-modal {
		// width: 400px;
		.modal-body {
			padding: 1em 40px;
		}
		.ic-warning  {
			display: block;
			margin: 1em auto;
		}
		h4 {
			text-align: center;
		}
		p {
			margin: 1.25em 0;
		}
	}

	&.notice-modal, &.confirm-modal {
		width: 464px;

		@media (max-width: $screen-sm - 1) {
			width: 90%;
			.modal-body {
				div[class*="col-xs-"] {
					.col-xs-12 {
						a {
							z-index: 1;
						}
					}
				}
			}
		}

		@media (max-width: $screen-xs - 1) {
			.modal-body {
				div[class*="col-xs-"] {
					.col-xs-12 {
						padding: 0;
					}
				}
			}
		}

		.modal-body {
			padding: 0 2em 2em 2em;
			white-space: pre-wrap;
		}

		.modal-body-ie .modal-body {
			padding: 0 2em 2em 2em;
			white-space: normal;
		}

		.modal-title, .modal-header {
			background: transparent;
			margin-top: 1.25em;
			font-size: 22px;
		}

		.modal-buttons .btn {
			padding-left: 4em;
			padding-right: 4em;
		}
		ul {
			li {
				width: 75%;
				left: 25%;
				position: relative;
				text-align: left;
			}
		}
	}

	&.confirm-modal {
		.modal-buttons .btn {
			padding-left: 2em;
			padding-right: 2em;
		}
		.modal-body {
			text-align: center;
		}
	}
}

.calheers-modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.57);
	z-index: 999;

	&.hide-overlay {
		background: transparent;
	}
}

.add-income-modal, .add-deduction-modal {

	// Reset content card settings
	.content-box {
		&.backdrop:after {
			display: none;
		}
		.container {
			background: transparent;
			padding: 0;
			width: auto;
			box-shadow: none;
		}
	}

	.modal-body {
		padding-top: 1em;
		.record-entry {
			.header {
				display: none;
			}
		}
	}
	.income-type:first-child {
		border-top: none;
	}
	.cancel-column {
		@include make-sm-column-offset(3);
	}
	.save-column {
		@include make-sm-column-offset(0);
	}
}

.add-income-modal {
	.modal-body {
		.record-entry {
			.intro {
				display: block;
			}
			.content {
				padding: 0;
			}
		}
	}
	.category-intro {
		padding-left: 70px;
		&.ESE {			
			background-repeat: no-repeat;
			background-position: left center;
		}
		&.GAI {			
			background-repeat: no-repeat;
			background-position: left center;
		}
		&.III {			
			background-repeat: no-repeat;
			background-position: left center;
		}
		&.RI {			
			background-repeat: no-repeat;
			background-position: left center;
		}
		&.ATI {			
			background-repeat: no-repeat;
			background-position: left center;
		}
	}
	.income-entry {
		.intro {
			padding-left: 70px;
			margin-bottom: 2em;
		}
		&.ESE {
			.intro {				
				background-repeat: no-repeat;
				background-position: left center;
			}
		}
		&.GAI {
			.intro {				
				background-repeat: no-repeat;
				background-position: left center;
			}
		}
		&.III {
			.intro {				
				background-repeat: no-repeat;
				background-position: left center;
			}
		}
		&.RI {
			.intro {				
				background-repeat: no-repeat;
				background-position: left center;
			}
		}
		&.ATI {
			.intro {				
				background-repeat: no-repeat;
				background-position: left center;
			}
		}
	}
}

.add-deduction-modal {
	.deduction-entry {
		.intro {
			margin-bottom: 2em;
		}
	}
}

.link-img-for-modal {
	display: inline-block;
	margin-right: 0.5em;
	@include image-icon('../assets/ic_m_link.png', '../assets/ic_m_link@2x.png', 16px, 16px);
}


.deduction-entry {
		.intro {		
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0;
		padding-left: 80px;
		padding-top: 0;
		margin-top: 0;
		}
	}


@media (max-width: $screen-sm - 1) {
	.calheers-modal, .calheers-modal.notice-modal {
		width: 90%;
	}
	.cancel-modal {
		.modal-buttons {
			.btn {
				// padding: .3em 1.8em;
			}
		}
	}
	.calheers-modal-overlay {
		&.hide-overlay-mobile {
			background: transparent;
		}
	}
	.fullscreen-mobile, .add-deduction-modal, .add-income-modal {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: auto;
		transform: translate(0, 0);
		max-height: 100vh;

		.modal-content {
			min-height: 100vh;
			position: relative;
		}

		.modal-header {
			background: $blue;
			color: $white;
			.btn {
				&.btn-close {
					@include image-icon('../assets/ic_m_exit.png', '../assets/ic_m_exit@2x.png', 14px, 14px);
				}
				&.btn-back {
					@include image-icon('../assets/ic_arrow.png', '../assets/ic_arrow@2x.png', 16px, 16px);
				}
			}
			h2 {
				margin: .2em 0;
				font-size: 1.3125rem;
			}
		}

		.modal-body {
			padding: 0 15px;
			margin-bottom: 0;
		}

		.btn {
			// padding-top: .65em;
			// padding-bottom: .65em;
		}
	}

	.add-deduction-modal, .add-income-modal {
		.category-intro {
			h3 {
				font-size: 1.35714286rem;
			}
		}
		.intro {
			text-align: center;
		}
		.record-entry {
			position: static;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			overflow: visible;
			.intro {
				// background: transparent;
				background-position: center top !important; 
				// color: $gray-dark;
				padding: 60px 0 1em 0;
				margin-left: 0 !important;
				margin-right: 0 !important;
				text-align: center;
				h2 {
					font-size: 1.35714286rem;
				}
			}
			.content {
				padding: 0;
				min-height: calc(100vh - 10.8rem);
			}
			.actions.row {
				margin: 0 -15px;
			}
		}
		.category-intro {
			padding-left: 0;
			padding-top: 46px;
			background-position: center top !important;
			text-align: center;
		}
	}
}

@media (min-width: $screen-sm) {
	.calheers-modal {
		max-height: 100vh;
		.modal-header {
			h2 {
				margin: .2em 0;
				font-size: 1.3125rem;
			}
		}
	}

	.add-deduction-modal, .add-income-modal {
		.record-entry {
			.content {
				padding: 0;
			}
			.actions.row {
				padding: 0;
			}
		}
		.modal-body {
			margin-bottom: 0;
		}
		.form-group {
			margin-bottom: 1rem;
		}
		.income-category {
			.row {
				.text-center {
					text-align: right; // "add" button
				}
			}
		}
	}
}

.progress-modal {
	width: 150px;
	.preloader-wrapper {
		display: block;
		margin: 0 auto;
	}
}
