.login-footer {
    .container {
        position: relative;
        z-index: 1;
        p {
            margin-top: 50px;
            a {
                text-decoration: underline;
                font-style: italic;
            }
        }
    }
}

@media (min-width: $screen-sm) {
    .login-footer {
        .container {
            padding: 2.2em 30px;
        }
    }
}

@media (min-width: $screen-md) {
    .login-footer {
        .container {
            padding-left: 55px;
            padding-right: 55px;
            width: 970px;
        }
    }
}