.login {
	h1 {
		margin-bottom: 1em; 
	}
	.login {
		label {
			a {
				float: right;
			}
		}
		.login-button-row {
			margin-bottom: 1.6em;
		}
	}

	#one-time-passcode-form-container {
		h1 {
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 2em;
		}
		
		#one-time-passcode-form-group {
			.form-group {
				margin-bottom: 1em;
			}
		}
		.hint {
			color: $gray;
			font-style: italic;
			font-size: 0.8em;
			font-weight: 400;
		}
	}

	#verification-method-form-container {
		#verification-method-option-email-wrapper,
		#verification-method-option-phone-wrapper {
			span {
				display: inline-block;

				&.optional {
					margin-left: 0;
				}
			}
		}
		span.error-message {
			p {
				margin-top: -20px;
			}
		}
	}

	.verification-method-info-modal {
		.modal-content {
			.modal-header {
				padding-top: 1em;
			}

			.modal-body {
				padding-top: .75em;
				padding-bottom: .75em;
				margin-top: .5em;
				margin-bottom: .5em;
			}
			.modal-buttons {
				margin-top: 2em;

				.btn {
					padding-left: 4em;
					padding-right: 4em;
				}
			}
		}
	}

	#login-verification-attempts-exceeded-modal {
		text-align: center;
		.modal-body, .modal-header {
			padding-left: 40px;
			padding-right: 40px;
		}
		.modal-body {
			margin: 0;
		}
		.modal-buttons {
			margin-top: 1.75em;
		}
	}
} 
.login-modal {
	.modal-header {
		background-color: transparent;
	}
	.modal-body {
		padding: 0 4.1875em 0;
		margin-top: 0;
	}
	.login-header {
		margin: 0 0 2em 0;
		h1 {
			font-size: 1.57142857em;
		}
		p {
			font-size: 1.25em;
		}
	}

	@media (max-width: $screen-sm - 1) {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transform: none;
		max-height: none;
		border-radius: 0;
		width: 100%;
		.modal-header {
			padding: 1em;
			font-size: 1em;
			text-align: left;
			background-color: $brand-primary;
			color: $white;
			h2 {
				font-size: 1.28571429em;
				margin: 0;
			}
			.btn {
				&.btn-close {
					@include image-icon('../assets/ic_m_exit.png', '../assets/ic_m_exit@2x.png', 14px, 14px);
				}
			}
		}
		.modal-body {
			padding: 1.57142857em $grid-gutter-width / 2;
		}
	}
}

@media (min-width: $screen-sm) {
	.login-modal {
		.login-header {
			h1 {
				font-size: 2.125em;
			}
		}
	}
}