@mixin headline_text() {
  font-size: 22px;
  color: $dark-blue;
}

@mixin headline_card() {
  font-size: 34px;
  font-weight: 700;
  color: $dark-blue;
  line-height: 34px;
}

@mixin name_text() {
  font-size: 20px;
  font-weight: 600;
  color: $dark-blue;
}

@mixin subheadline_card_a() {
  font-size: 18px;
  color: $dark-blue;
  line-height: 21px;
}
@mixin body_text() {
  font-size: 18px;
  color: $dark-blue;
  line-height: 20px;
}
@mixin body_external_link_modal() {
  font-size: 16px;
  color: $blue-2;
  line-height: 20px;
  text-decoration: underline;
}
@mixin amount_text() {
  font-size: 18px;
  color: $dark-blue;
}
@mixin amount_total() {
  font-size: 24px;
  color: $dark-blue;
}
@mixin identify_text() {
  color: $dark-blue;
  font-size: 14px;
  line-height: 18px;
}
